#avatar {
    display: block;
    background-color: white;
}

#avatar .ht-40 {
    height: 40%;
}

#avatar .ht-50 {
    height: 50%;
}

#avatar .ht-25 {
    height: 25%;
}

#avatar .ht-10 {
    height: 10%;
}

#avatar .done_button {
    background-color: black;
    color: white;
    cursor: pointer;
}

#avatar #button_avatar_done {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #come_ti_chiami {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #button_donna {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #button_uomo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #button_capelli {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #button_abbigliamento {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #button_posture {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #button_data_di_nascita {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #button_accessori {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #button_segni_particolari {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #button_professione {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #button_left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #button_right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar #centre_carousel {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#avatar .owl-carousel .owl-item.big div {
    background: #ac0000 !important;
}

#avatar .owl-carousel .owl-item.medium div {
    background: #dd0000 !important;
}