#interest {
    display: block;
    background-color: white;
}

#interest .ht-40 {
    height: 40%;
}

#interest .ht-50 {
    height: 50%;
}

#interest .ht-10 {
    height: 10%;
}

#interest .ht-0 {
    height: 0%;
}

#interest .done_button {
    background-color: black;
    color: white;
    cursor: pointer;
}

#interest #button_interest_done {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#interest #nome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#interest .int_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}