#interest {
    display: block;
    background-color: white;
}

#interest .done_button {
    background-color: black;
    color: white;
    cursor: pointer;
}

#interest #button_interest_done {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#interest #nome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#interest .int_button {
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#interest .interesse {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}