#familytree {
    display: block;
    background-color: white;
}

#familytree .ht-100 {
    height: 100%;
}

#familytree .ht-15 {
    height: 15%;
}

#familytree .button_grid {
    display: grid;
    height: 100%;
    grid-template-columns: [col] 1fr;
    grid-template-rows: [row]2fr [row]1fr;
    grid-gap: 10px;
}

#familytree .button_svg {
    grid-column: col;
    grid-row: row 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#familytree .button_text {
    grid-column: col;
    grid-row: row 2;
    cursor: pointer;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
}

#popup_home .ht-reg {
    height: calc(100%/6);
}

#popup_home .ht-5reg {
    height: calc(500%/6);
}

#popup_home .ht-33 {
    height: 33.33%;
}

#popup_home .done_button {
    background-color: black;
    color: white;
    cursor: pointer;
}

#popup_home #button_popup_home_done {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup_animal .ht-reg {
    height: calc(100%/6);
}

#popup_animal .ht-4reg {
    height: calc(400%/6);
}

#popup_animal .cent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#popup_animal .done_button {
    background-color: black;
    color: white;
    cursor: pointer;
}

#popup_animal #button_popup_animal_done {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup_baby .ht-reg {
    height: calc(100%/6);
}

#popup_baby .ht-4reg {
    height: calc(400%/6);
}

#popup_baby .cent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#popup_baby .done_button {
    background-color: black;
    color: white;
    cursor: pointer;
}

#popup_baby #button_popup_baby_done {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup_child .ht-reg {
    height: calc(100%/6);
}

#popup_child .ht-4reg {
    height: calc(400%/6);
}

#popup_child .cent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#popup_child .done_button {
    background-color: black;
    color: white;
    cursor: pointer;
}

#popup_child #button_popup_child_done {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup_adult .ht-reg {
    height: calc(100%/6);
}

#popup_adult .ht-4reg {
    height: calc(400%/6);
}

#popup_adult .cent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#popup_adult .done_button {
    background-color: black;
    color: white;
    cursor: pointer;
}

#popup_adult #button_popup_adult_done {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}