#dexterslab {
    display: block;
    background-color: white;
}

#dexterslab .container div {
    background-color: white;
}

#dexterslab .main {
    height: 85%;
}

#dexterslab .menu_bottom {
    height: 15%;
}

#dexterslab .panel_left {
    overflow-y: auto;
}

#dexterslab .panel_right {
    overflow-y: auto;
}

#dexterslab .panel_canvas {
    height: 80%;
}

#dexterslab .panel_drawing {
    height: 20%;
}

#dexterslab .button_item {
    height: 33%;
}