#dexterslab {
    display: block;
    background-color: white;
}

#dexterslab .container div {
    background-color: white;
}

#dexterslab .main {
    height: 85%;
}

#dexterslab .menu_bottom {
    height: 15%;
}

#dexterslab .ht-20 {
    height: 20%;
}

#dexterslab .panel_left {
    overflow-y: auto;
}

#dexterslab .panel_right {
    overflow-y: auto;
}

#dexterslab .panel_canvas {
    height: 80%;
}

#dexterslab .panel_drawing {
    height: 20%;
}

#dexterslab .button_item {
    height: 33%;
}

#dexterslab .selected {
    background-color: #FFCC00 !important;
}

#dexterslab #dexters_canvas {
    width: 100%;
    background: #f8f8f8;
    padding: 0;
    margin: 0 auto;
    display: block;
    /* cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✍️</text></svg>") 16 0, auto; */
}