#bazar {
    display: block;
    background-color: white;
}

#bazar #button_left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#bazar #button_right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#bazar #centre_carousel {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#bazar .carousel-bazar {
    height: 100%;
}

#bazar .owl-stage-outer {
    height: 100%;
}

#bazar .owl-stage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bazar .owl-item {
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#bazar .owl-item .item {
    cursor: pointer;
    background-position: center !important;
    background-size: 70% !important;
    background-repeat: no-repeat !important;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 50%;
    /*margin: 6% 8%;
	transition: margin 0.4s ease;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;*/
}


/*#bazar .owl-item.big .item {
	height: 130px !important;
	width: 130px !important;
	border: 6px solid black;
}*/

#bazar .menu_left {
    position: relative;
    top: 10px;
    width: 100px;
    z-index: 999;
    height: 150px;
}

#bazar .button_grid {
    display: grid;
    height: 100%;
    grid-template-columns: [col] 1fr;
    grid-template-rows: [row]3fr [row]2fr;
    grid-gap: 4px;
    cursor: pointer;
}

#bazar .button_svg {
    grid-column: col;
    grid-row: row 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#bazar .button_text {
    grid-column: col;
    grid-row: row 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-size: 12px;
}

#bazar #bazar_canvas {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: block;
    background: transparent !important;
}

#bazar #bazar_canvas_container {
    position: relative;
    width: 84%;
    margin-left: 8%;
    margin-top: -150px;
    background: url(../images/bazar/basket.svg);
}

#bazar .item img {
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

#bazar_game_over .bazar_game_over_grid {
    display: grid;
    height: 100%;
    grid-template-columns: [col]1fr [col]1fr;
    grid-template-rows: [row]4fr [row]1fr;
    grid-gap: 4px;
    background-color: black;
}

#bazar_game_over .bgog_item {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#bazar_game_over .i1 {
    grid-column: col / span 2;
    grid-row: row;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#bazar_game_over .i2 {
    grid-column: col / span 1;
    grid-row: row 2;
    background-color: #6633FF;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bazar_game_over .i3 {
    grid-column: col 2/ span 1;
    grid-row: row 2;
    background-color: #FFCC00;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bazar_game_over .topic {
    font-weight: bold;
    font-size: 35px;
}

#bazar_game_over .para {
    font-weight: bold;
    font-size: 20px;
}