#apartment {
	display: block;
	background-color: white;
}

#apartment .menu_left {
	position: relative;
	top: 10px;
	width: 100px;
	z-index: 999;
	height: 150px;
}

#apartment #nursery {
	position: absolute;
	width: 80%;
	height: 80%;
	display: flex;
	align-items: flex-end;
}

#apartment .button_grid {
	display: grid;
	height: 100%;
	grid-template-columns: [col] 1fr;
	grid-template-rows: [row]3fr [row]2fr;
	background-color: white;
	grid-gap: 4px;
}

#apartment .button_svg {
	grid-column: col;
	grid-row: row 1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#apartment .button_text {
	grid-column: col;
	grid-row: row 2;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	font-size: 12px;
}

#apartment g[id$='_group']{
	cursor: pointer;
}


#sidepanel_apartment {
	position: absolute;
	top: var(--header-height);
	right: 10%;
	width: 30%;
	height: 80%;
	display: none;
	background-color: transparent;
}

#sidepanel_apartment .sidepanel_apartment_button {
	position: absolute;
	height: 50px;
	width: 50px;
	left: 0px;
}

#sidepanel_apartment .close {
	border-left: 4px solid var(--border-color);
	border-bottom: 4px solid var(--border-color);
	background-color: white;
	float: left;
	width: 50px;
	height: 50px;
}

#sidepanel_apartment .close:after {
	display: inline-block;
	content: "\2713";
	font-size: 40px;
	line-height: 50px;
	margin-left: 4px;
	cursor: pointer;
	color: black;
}

#sidepanel_apartment .body {
	border-left: 4px solid var(--border-color);
	border-right: 4px solid var(--border-color);
	background-color: var(--background-color);
	float: right;
}

#sidepanel_apartment .body .row {
	padding-bottom: 20px;
}


#sidepanel_apartment #sidepanel_apartment_itemleft {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-top: 10px;
}

#sidepanel_apartment #sidepanel_apartment_itemright {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-top: 10px;
}

#sidepanel_apartment #sidepanel_apartment_itemcarousel {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
}

#sidepanel_apartment #sidepanel_apartment_itemcarousel .owl-carousel {
	height: 100%;
}

#sidepanel_apartment .owl-stage-outer {
	height: 100%;
}

#sidepanel_apartment .owl-stage {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sidepanel_apartment .owl-item {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sidepanel_apartment .owl-item>div {
	cursor: pointer;
	transition: margin 0.4s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sidepanel_apartment .titletext {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
}


#sidepanel_apartment .owl-item img {
	width: auto;
	max-height: 90px;

}