#apartment {
    display: block;
    background-color: white;
}

#apartment .menu_left {
    position: relative;
    top: 10px;
    width: 100px;
    z-index: 999;
    height: 150px;
}

#apartment #nursery {
    position: absolute;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: flex-end;
}

#apartment .button_grid {
    display: grid;
    height: 100%;
    grid-template-columns: [col] 1fr;
    grid-template-rows: [row]3fr [row]2fr;
    background-color: white;
    grid-gap: 4px;
}

#apartment .button_svg {
    grid-column: col;
    grid-row: row 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#apartment .button_text {
    grid-column: col;
    grid-row: row 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-size: 12px;
}

#sidepanel_1 {
    background-color: transparent;
}

#sidepanel_1 .body {
    float: right;
}

#sidepanel_1 #side1_left1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidepanel_1 #side1_right1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidepanel_1 #centre_carousel_1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

#sidepanel_1 .side1_carousel1 {
    height: 100%;
}

#sidepanel_1 .owl-stage-outer {
    height: 100%;
}

#sidepanel_1 .owl-stage {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidepanel_1 .owl-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidepanel_1 .side1_carousel1 .owl-item.big.active {
    width: 100px;
}

#sidepanel_1 .owl-item>div {
    cursor: pointer;
    margin: 6% 8%;
    transition: margin 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sidepanel_1 .side1_carousel1 .owl-item.big div {
    height: 100px;
    width: 100px;
    border: 4px solid black;
    border-radius: 50%;
    cursor: auto;
    margin: 0;
}

#sidepanel_1 .titletext {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}