@font-face {
    font-family: "Circular Std Bold";
    src: url("../fonts/csb/csb.eot");
    /* IE9*/
    src: url("../fonts/csb/csb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/csb/csb.woff2") format("woff2"), /* chrome firefox */
    url("../fonts/csb/csb.woff") format("woff"), /* chrome firefox */
    url("../fonts/csb/csb.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../fonts/csb/csb.svg#Circular Std Bold") format("svg");
    /* iOS 4.1- */
}

@font-face {
    font-family: "CircularStd-Book";
    src: url("../fonts/csb/csbook.otf");
}

:root {
    --primary-color: #E7816B;
    --secondary-color: #6BCA91;
    --baloon-color: #FFE8E3;
    /*--background-color: #FDFBF8;*/
    --background-color: #FFFFFF;
    --textprimary-color: #42505F;
    --textsecondary-color: #67737F;
    --border-color: black;
    --header-height: 100px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Circular Std Bold', "Arial", sans-serif;
    overflow: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Circular Std Bold', "Arial", sans-serif;
    width: 100%;
    height: 100%;
    background-color: #6633FF;
}

.state {
    width: 100%;
    height: 100%;
}

body[data-state="load"] .sidepanel,
body[data-state="load"] .popup,
body[data-state="load"] header,
body[data-state="load"] .state,
body[data-state="load"] div {
    opacity: 0;
}

body[data-state="load"] #load {
    opacity: 1;
}

.info {
    width: 200px;
    height: 30px;
    position: absolute;
    z-index: 999;
    opacity: 0;
}

header {
    height: var(--header-height);
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: #6633FF;
    border-bottom: 4px solid var(--border-color);
}

.container {
    height: calc(100% - var(--header-height));
    width: 80%;
    background-color: var(--background-color);
    margin: auto;
    margin-top: var(--header-height);
}

.b-t {
    border-top: 4px solid black;
}

.b-b {
    border-bottom: 4px solid black;
}

.b-l {
    border-left: 4px solid black;
}

.b-r {
    border-right: 4px solid black;
}

.ht-0 {
    height: 0%;
}

.ht-5 {
    height: 5%;
}

.ht-10 {
    height: 10%;
}

.ht-15 {
    height: 15%;
}

.ht-20 {
    height: 20%;
}

.ht-25 {
    height: 25%;
}

.ht-30 {
    height: 30%;
}

.ht-35 {
    height: 35%;
}

.ht-40 {
    height: 40%;
}

.ht-45 {
    height: 45%;
}

.ht-50 {
    height: 50%;
}

.ht-55 {
    height: 55%;
}

.ht-60 {
    height: 60%;
}

.ht-65 {
    height: 65%;
}

.ht-70 {
    height: 70%;
}

.ht-75 {
    height: 75%;
}

.ht-80 {
    height: 80%;
}

.ht-85 {
    height: 85%;
}

.ht-90 {
    height: 90%;
}

.ht-95 {
    height: 95%;
}

.ht-100 {
    height: 100%;
}

.popup {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    display: none;
    z-index: 999;
}

.popup .header {
    height: 50px;
}

.popup .close {
    border: 4px solid var(--border-color);
    border-bottom: 0px;
    background-color: white;
    float: right;
    width: 50px;
    height: 50px;
}

.popup .close:after {
    display: inline-block;
    content: "\00d7";
    font-size: 50px;
    line-height: 45px;
    margin-left: 8px;
    cursor: pointer;
    color: black;
}

.popup .body {
    height: 400px;
    border: 4px solid var(--border-color);
    background-color: var(--background-color);
}

.sidebar {
    position: absolute;
    top: var(--header-height);
    left: 90%;
    width: 40px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.hgrid {
    display: grid;
    height: 100%;
    width: 80%;
    margin: auto;
    grid-template-columns: [col]16fr [col]1fr [col]1fr [col]1fr;
    grid-template-rows: [row]2fr [row]3fr [row]2fr;
}

.hg_item {
    padding: 1em;
    font-size: 14px;
}

.hg_item.i-1 {
    grid-column: col;
    grid-row: row 2;
    color: #F5F5F5;
}

.hg_item.i-2 {
    grid-column: col 2;
    grid-row: row 2;
    background-color: #F5F5F5;
    border-right: 2px solid black;
}

.hg_item.i-3 {
    grid-column: col 3;
    grid-row: row 2;
    background-color: #F5F5F5;
    border-left: 2px solid black;
}

.hg_item.i-4 {
    grid-column: col 4;
    grid-row: row 2;
    padding: 0% !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lang_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    .hgrid {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    .container {
        width: 90%;
    }
    .hgrid {
        width: 90%;
    }
}

@media only screen and (min-width: 1201px) {
    .container {
        width: 80%;
    }
    .hgrid {
        width: 80%;
    }
}

.sidebar_colour_grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(14, [col]1fr);
    grid-template-rows: [row]1fr;
    grid-gap: 4px;
    background-color: black;
}

.sbcgrid_item {
    font-style: italic;
    z-index: 88;
    cursor: pointer;
}

#pigeon {
    opacity: 1 !important;
    position: fixed;
    animation: pigeon-anim 2s ease 0s infinite normal forwards;
    z-index: 99999999999999999999;
    cursor: move;
}

#pigeon #text text {
    text-anchor: middle;
}

.fly {
    animation: pigeon-anim 2s ease 0s infinite normal forwards;
}

@keyframes pigeon-anim {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}